/* Override some defaults */
html, body {
  background-color: #FFF;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}
.container > .content {
  padding: 20px 30px 20px 30px;
}

.footer {
  font-size: 0.8em;
}

/* HEADERS ======================================================== */
h1,h2,h3,h4,h5,h6,
.navbar,
.sidebar {
  color: #473723;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.navbar a {
  color: inherit;
}

#main h1 {
  /* border-bottom: 2px solid #000; */
  margin-bottom: 40px;
}

.navbar {
  /* height: 85px; */
  /* background: #66c url(../../../images/skyline.png);
  background-size: 41% 42px;
  background-repeat: repeat-x;
  background-position: -10px bottom; */
  background:#E9DFCB;
}

/* Bottom border : to avoid jagged corners */
.navbar:after {
  height: 2px;
  background-color: #473723;
  content: " ";
  width: 100%;
}

.navbar-collapse{
  clear:both;
  margin-bottom:10px;
  font-size:.9em;
}

.navbar-nav {
  margin-left: -25px;
}


.navbar-nav > li > a{
  padding: 7px 10px;
  display: inline-block;
}

.navbar-nav > li:after{
  content: "/";
  margin:0 5px;
}

.navbar-nav > li:last-child:after{
  content:"";
}

.navbar a {
  /* color: #fff; */
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: rgba(255,255,255, 0.5);
  text-decoration: underline;
}

.navbar-brand {
  font-size: 1.4em;
}

/* SIDEBAR ======================================================== */
.sidebar {
  margin-top: 110px;
  background:#E9DFCB;
  border: 2px solid #473723;
  border-radius: 3px;
}

.sidebar h1, .sidebar h2,
.sidebar h3, .sidebar h4,
.sidebar h5, .sidebar h6 {
  margin-top: 10px;
}

/* TAGS ======================================================== */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:1.8em;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  border-radius: 3px;
  border:1px dashed #ccc;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

/* LANDING PAGE ================================================= */
.highlight-wrap span{ background:#FFFFCC }

#tab-list li a {
  font-size:14px;
  font-weight:bold;
}
#tab-content-wrapper {
  min-height:190px;
}

/* NAVBAR ================================================= */
#navbar a {
  color:#ECE5CE;
}
#navbar li.active a {
 background:#046D8B;
}

.banner-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url(../../../images/cities/nyc1.jpg);
  background-position: 0 -28px;
  background-size: cover;
}

/* SPLASH PAGES ================================================= */
.page_icon div {
  height:100px;
  padding:10px;
}
.page_icon h4 {
  margin-bottom:10px
}

/* MISC ================================================= */
.pager li a {
  padding:15px 40px;
  font-size:24px;
  font-weight:bold;
  border:0;
}
.sharing {width:150px; margin-top:12px}

.btn-large {
  padding: 14px 28px;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#tab-list li {float:right;}

#navigation {
  padding:0;
  background-color:#333;
  margin-bottom:20px;
}
#navigation ul {
  width:90%;
  margin:0 auto;
  list-style:none;
  padding:10px 0;
}

#navigation ul li {
  list-style:none;
  display:inline;
  margin-right:10px;
}

#navigation ul a {
  padding:6px 12px;
  border-radius:3px;
  color:#eee;
}

#tab-content-wrapper ul {list-style:none}
@media all and (max-width: 867px) {
  #left-pane {
    width:100%;
  }
  #right-pane {
    width:100%;
    clear:both;
    text-align:left !important;
  }
  #tab-list li {float:left;}
}

/* Hamburger icon */
.navbar-toggle {
  background-color: rgba(255,255,255, 0.3);
}

.navbar-toggle .icon-bar {
  background-color: rgba(255,255,255, 0.6);
}

.who-we-are .sidebar ul {
  list-style: none;
  padding-left: 0;
}

.who-we-are .sidebar ul ul {
  padding-left: 50px;
  text-indent: -25px;
  margin-bottom: 0.25em;
}

.who-we-are .sidebar ul ul li {
  margin-bottom: 0.5em;
}

.who-we-are .sidebar ul ul a {
  font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 76px;
  background-color: #E9E3D6;
  color: #767066;
  padding-top: 10px;
}

.footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer nav li {
  display: inline-block;
  border-right: 1px solid #767066;
}

.footer nav li:last-child {
  border-right: none;
}

.footer nav a {
  padding: 5px;
  margin: 0px 10px;
}

/* Mailchimp form
-------------------------------------------------- */
/* The body declaration overrides the default styles
   without resorting to !important. */


body #mc_embed_signup {
  font-size: 0.9em;
}

body #mc_embed_signup .mc-field-group input {
  padding: 4px 0;
}

body #mc_embed_signup #mce-success-response {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #fff;
  background-color: #529214;
  padding: 20px;
  width: 100%;
}

body #mc_embed_signup .mc-field-group .asterisk {
  position: relative;
  top: 4px;
  right: 0;
}

#mc_embed_signup .mc-field-group.input-group li label {
  margin-left: 5px;
}
