<div class="signup-form">
  <h3 id="signup">Let's Upgrade Democracy, Together</h3>
  <!-- Begin MailChimp Signup Form -->
  <!-- NOTE Most of the classes and ids below are *required* for the
            javascript validation to work. Do not *remove* anything,
            but feel free to add classes. -->
  <div class="mc_embed_signup">
    <form
      action="//opengovfoundation.us6.list-manage.com/subscribe/post?u=9d450bf68b3df1185fc9f62b2&amp;id=93a9a288bf"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <div class="messaging">
        <p>Want to help us upgrade democracy?  Please fill out the information below to subscribe to our mailing list.</p>
      </div>

      <div class="mc-field-group form-group first-name-group">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
      </div>
      <div class="mc-field-group form-group last-name-group">
        <label for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
      </div>
      <div class="mc-field-group form-group email-group">
        <label for="mce-EMAIL">Email Address  <span class="required">required</span></label>
        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
      </div>
      <div class="mc-field-group form-group zip-group">
        <label for="mce-MMERGE3">Zip Code </label>
        <input type="text" value="" name="MMERGE3" class="form-control" id="mce-MMERGE3">
      </div>
      <div class="mc-field-group form-group input-group checkbox-group">
        <h5>I Support Free Law As A... </h5>
        <ul>
          <li>
            <input type="checkbox" value="1" name="group[13885][1]" id="mce-group[13885]-13885-0">
            <label for="mce-group[13885]-13885-0">Citizen</label>
          </li>
          <li>
            <input type="checkbox" value="2" name="group[13885][2]" id="mce-group[13885]-13885-1">
            <label for="mce-group[13885]-13885-1">Elected Official</label>
          </li>
          <li>
            <input type="checkbox" value="16" name="group[13885][16]" id="mce-group[13885]-13885-4">
            <label for="mce-group[13885]-13885-4">Other</label>
          </li>
        </ul>
        <ul>
          <li>
            <input type="checkbox" value="8" name="group[13885][8]" id="mce-group[13885]-13885-3">
            <label for="mce-group[13885]-13885-3">Government Worker</label>
          </li>
          <li>
            <input type="checkbox" value="4" name="group[13885][4]" id="mce-group[13885]-13885-2">
            <label for="mce-group[13885]-13885-2">Civic Technologist</label>
          </li>
        </ul>
      </div>
      <div class="mc-field-group form-group submit-group">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button">
      </div>

      <!--div class="form-group input-group">
          <strong>Email Format </strong>
          <ul><li><input type="radio" value="html" name="EMAILTYPE"
      id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
      <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label
      for="mce-EMAILTYPE-1">text</label></li>
      </ul>
      </div-->
      <input type="hidden" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0">
      <!-- HTML for everybody -->

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_9d450bf68b3df1185fc9f62b2_93a9a288bf" tabindex="-1" value=""></div>


      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <div class="messaging">
        <p>
          We protect your information. Read our <a href="/privacy-policy/">Privacy Policy</a>.
        </p>
      </div>

    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      // Do *not* change the order here.  Period.
      fnames[0]='EMAIL';ftypes[0]='email';
      fnames[1]='FNAME';ftypes[1]='text';
      fnames[2]='LNAME';ftypes[2]='text';
      fnames[3]='MMERGE3';ftypes[3]='zip';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  <!--End mc_embed_signup-->
</div>
