// Contact form
.signup-form {
	@extend .jumbotron;
	padding: 0;

	color: $white;
	background-color: $light-blue;

	h3 {
		min-height: 37px;
		padding: 15px 0;
		font-size: em(21px);
		line-height: 1.25em;
		font-weight: normal;
		text-align: center;
		background-color: $medium-blue;
		@include heading();
	}

	.mc_embed_signup {
		@extend .container;
		padding-top: $side-padding/2;
		padding-bottom: $side-padding/2;

		form {
			@extend .col-md-8;
			@extend .col-md-push-2;
			@extend .col-md-pull-2;
		}

		label {
			font-weight: normal;
			.required {
				font-weight: bold;
				font-size: 0.8em;
				margin-left: 1em;
			}
		}

		.first-name-group,
		.last-name-group {
			@extend .col-md-6;
		}

		.email-group {
			@extend .col-md-8;
		}

		.zip-group {
			@extend .col-md-4;
		}

		.checkbox-group {
			@extend .col-md-8;

			ul {
				padding: 0;
				margin: 10px 25px;
				float: left;
			}
			li {
				list-style: none;
			}
			input[type="checkbox"] {
				margin-left: 0;
			}
		}

		.submit-group {
			@extend .col-md-4;
			text-align: center;
		}

		.subscribe-button {
			@include heading();
			@include flf-button($light-blue);
			margin-top: 55px;

			@include breakpoint(0 $screen-md-min) {
				margin-top: 0px;
			}
		}

		.messaging {
			@extend .col-md-12;

			a {
				color: $white;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	p {
		font-size: $font-size-base;
	}

}
